<div style="width : 100%;text-align : center;">
<a href="https://www.app.mailtastic.de/api/linkserve/versacom/{{ integration['mailtasticid'] }}/{{ template }}" style="outline:0 !important;display:block;">
	<img  src="https://www.app.mailtastic.de/api/picserve/versacom/{{ integration['mailtasticid'] }}/{{ template }}" border="0" alt="Aktuell können Sie einige Informationen nicht sehen. Bitte aktivieren Sie externe Inhalte, um die Mail vollständig angezeigt zu bekommen." style="color:blue;font-size:12px;"/>
</a>
</div>
